{% extends 'evenements/base.html' %}

{% block content %}

    <div class="container mt-5">
        <h1 class="text-center mb-4"><strong>Events</strong></h1>
        
        {% for event in evenement_list %}
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h5 class="mb-0">{{ event }}</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Venue: {{ event.venue }}</h5>
                    <p class="card-text">
                        <ul class="list-unstyled">
                            <li><strong>Date:</strong> {{ event.evenement_date }}</li>
                            <li><strong>Venue Website:</strong> <a href="{{ event.venue.web }}">{{ event.venue.web }}</a></li>
                            <li><strong>Manager:</strong> {{ event.manager }}</li>
                            <li><strong>Description:</strong> {{ event.description }}</li>
                            <li><strong>Approval:</strong> {{ event.approved }}</li>
                            
                            <li><strong>Attendees:</strong>
                              <ul>
                                  {% for user in event.attendees.split %}
                                      <li>{{ user }}<br></li>
                                  {% endfor %}
                              </ul>
                          </li>
                            </li>
                        </ul>
                    </p>  
                </div>
                <div class="card-footer text-muted">
                    <a href="{% url 'update-evenement' event.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
                    <a href="{% url 'delete-evenement' event.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
